@import url(https://fonts.google.com/specimen/Poppins);

:root {
  --dpr-color-background-primary: #3c9af0;
  --dpr-color-background-secondary: #c8c8c8;
  --dpr-color-background-tertiary: #ffffff;

  --dpr-color-font-primary: #ffffff;
  --dpr-color-font-secondary: #5e5e5e;
  --dpr-color-font-tertiary: #3c9af0;

  --dpr-color-border-primary: #3c9af0;
}



*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.dpr-container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.dpr-font-italic{
  font-style: italic;
}

.dpr-mt25{
  margin-top: 25px;
}
.dpr-padtp25{
  padding-top: 25px;
}
.dpr-padtp50{
  padding-top: 50px;
}